# dependencies
node_modules/

# build
dist/
*.tsbuildinfo
tsconfig.build.tsbuildinfo

# env
.env
.env.*.local

# logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# coverage
coverage/